<nav class="navbar navbar-light bg-light pb-2">

  <a (click)="goBack()">
    <span>
      <i class="fas fa-chevron-left dark"></i>
    </span>
  </a>

  <span class="navbar-brand font-weight-bold mr-auto ml-3 dark">Widgets</span>

  <!--to widget choose-->
  <a class="ml-auto" (click)="goToWidgetChoose()" >
    <span>
      <i class="fas fa-plus dark"></i>
    </span>
  </a>
</nav>


<!--list and switch-->
<div appSortable (newIndexes) = "onNewIndexes($event)">
<div class="container-fluid pt-0"
     *ngFor="let widget of widgets">
  <table class="table table-borderless">
    <tbody>
    <tr>
      <td>
        <div [ngSwitch]="widget.type">

          <div *ngSwitchCase="'HEADING'">
            <!--display the header-->
            <p [ngStyle]="{'font-size': widget.size+'00%'}">{{widget.text}}</p>
          </div>

          <div *ngSwitchCase="'YOUTUBE'" class="youtube-widget">
            <iframe width="640" height="360" [src]="convertToSafeYoutubeUrl(widget.url)" frameborder="0" allowfullscreen></iframe>
          </div>

          <div *ngSwitchCase="'IMAGE'">
            <!--display the image-->
            <img [src]="convertToSafeUrl(widget.url)"/>
          </div>

          <div *ngSwitchCase="'HTML'">
            <!--display the html-->
            <p>{{widget.text}}</p>
          </div>
          <div *ngSwitchCase="'TEXT'">
            <div *ngIf="widget.formatted">
              <quill-editor [(ngModel)]="widget.text" name="text"></quill-editor>
            </div>
            <input *ngIf="!widget.formatted && (!widget.rows || widget.rows===1)"
                   placeholder="{{widget.placeholder}}"
                   class="form-control"/>
            <textarea *ngIf="!widget.formatted && (widget.rows > 1)"
                      rows="{{widget.rows}}"
                      placeholder="{{widget.placeholder}}"
                      class="form-control">{{widget.text}}</textarea>
          </div>
        </div>
      </td>
      <td align="right">
        <a (click)="goToWidgetEdit(widget._id)" ><i class="fas fa-cog"></i></a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
</div>

<div class="p-3">

</div>
<app-profilebar [curUserId]="userId"></app-profilebar>









