<nav class="navbar navbar-dark bg-primary">

  <a (click)="goBack()" >
    <span>
      <i class="fas fa-chevron-left fa-inverse"></i>
    </span>
  </a>

  <span class="navbar-brand font-weight-bold mr-auto ml-3">Websites</span>


  <a (click)="createNewWebsite()" class="ml-auto">
    <span>
      <i class="fas fa-plus fa-inverse"></i>
    </span>
  </a>


</nav>

<div class="container-fluid scrollable-body"
     *ngFor="let website of websites">
  <table class="table table-borderless">
    <tbody>
    <tr>
      <td>
        <div><a>{{website.name}}</a></div>
      </td>
      <td align="right">
        <a (click)="goToEditWebsite(website._id)" ><i class="fas fa-cog"></i></a>
      </td>
    </tr>
    </tbody>
  </table>

</div> <!-- container-fluid.// -->

<app-profilebar [curUserId]="userId"></app-profilebar>


