<div>
  <nav class="navbar navbar-dark bg-primary">
    <a class="navbar-brand font-weight-bold" href="#">Profile</a>
  </nav>
</div>

<div class="container-fluid pt-2">
  <form>
    <div class="form-group">
      <label for="username" class="font-weight-bold">Username</label>
      <input id="username" type="text" class="form-control" value="chuxuanwang">
    </div> <!-- form-group// -->

    <div class="form-group">
      <label for="email" class="font-weight-bold">Email</label>
      <input id="email" type="email" class="form-control" value="iojoiwin@gmail.com">
    </div> <!-- form-group// -->

    <div class="form-group">
      <label for="firstname" class="font-weight-bold">First Name</label>
      <input id="firstname" type="text" class="form-control" value="Chuxuan">
    </div> <!-- form-group// -->

    <div class="form-group">
      <label for="lastname" class="font-weight-bold">Last Name</label>
      <input id="lastname" type="text" class="form-control" value="Wang">
    </div> <!-- form-group// -->

    <div class="form-group">
      <a class="btn btn-primary btn-block" href="website-ulst.html" role="button">Websites</a>
    </div>
    <div class="form-group">
      <a class="btn btn-danger btn-block" href="login.html" role="button">Logout</a>
    </div>
  </form>

</div> <!-- container-fluid.// -->




<nav class="navbar navbar-dark bg-primary fixed-bottom p-3">
  <a class="navbar-brand" href="#" class="font-weight-bold"></a>
</nav>

