<div class="row">
  <div class="col-md-4 d-none d-md-block border-right pr-0">
    <app-website-list></app-website-list>
  </div>
  <div class="col-md-8 pl-0">
    <nav class="navbar navbar-dark bg-primary">
      <div class="navbar-brand font-weight-bold">Edit Website</div>
      <a class="ml-auto" (click)="updateWebsite()" >
            <span>
              <i class="fas fa-check fa-inverse"></i>
            </span>
      </a>
    </nav>
    <div class="container-fluid pt-2">
      <form #f="ngForm">
        <div class="form-group">
          <label for="name" class="font-weight-bold">Website Name</label>
          <input name="newName"
                 type="text"
                 class="form-control"
                 id="name"
                 [ngModel]="displayOldName()"
                 ngModel
                 #newName="ngModel">
        </div> <!-- form-group// -->

        <div class="form-group">
          <label for="description" class="font-weight-bold">Website Description</label>
          <textarea name="newDescription"
                    class="form-control"
                    id="description"
                    rows="5"
                    [ngModel]="displayOldDescription()"
                    ngModel
                    #newDescription="ngModel"></textarea>
        </div> <!-- form-group// -->
        <div class="form-group">
          <a class="btn btn-danger btn-block" (click)="deleteWebsite()" role="button">Delete</a>
        </div>

      </form>
    </div>
  </div>
</div>

<app-profilebar [curUserId]="userId"></app-profilebar>

